<label
  class="grid gap-2 text-sm font-medium leading-6 text-white group"
  [class.opacity-30]="isDisabled"
>
  <input
    type="checkbox"
    class="sr-only"
    [attr.name]="name"
    [checked]="isChecked"
    [disabled]="isDisabled"
    (change)="onInputChange()"
  />

  <span class="flex items-center">
    <span
      class="group-has-[:checked]:bg-indigo-600 relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent bg-white/10 transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2"
      aria-labelledby="annual-billing-label"
    >
      <span
        aria-hidden="true"
        class="group-has-[:checked]:translate-x-5 pointer-events-none inline-block h-5 w-5 translate-x-0 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out"
      ></span>
    </span>

    <span class="ml-3 text-sm" id="annual-billing-label">
      <span class="font-medium text-white"><ng-content></ng-content></span>
    </span>
  </span>
</label>
