<div class="bg-gray-900 h-full">
  <div
    class="relative isolate flex items-center overflow-hidden h-full pt-14 p-5"
  >
    <img
      src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2830&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply"
      alt=""
      class="absolute inset-0 -z-10 h-full w-full object-cover"
    />
    <div class="mx-auto max-w-2xl">
      <div class="text-center">
        <h1
          class="text-4xl font-bold tracking-tight text-white sm:text-6xl text-pretty"
        >
          Welcome to My Coding Test
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-300">
          Thanks for taking the time to review my coding test. I’m excited to
          show you my skills and look forward to your feedback. Let's dive into
          it!
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a
            routerLink="/coding-test"
            class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400"
          >
            Get started
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
